<h1>Sessions#create</h1>
<p>Find me in app/views/sessions/create.html.erb</p>
<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do  %>
   <input name="user[name]">
   <input type="submit" value="Login">
<% end %>