<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <label>Name</label>
  <input name=name>

  <label>Password</label>
  <input name=password>

  <label>Password Confirmation</label>
  <input name=password_confirmation>

  <input type=submit value='login'>
<% end %>
