<h1>Sign In</h1>

<%= form_for @user, url: sessions_path do |f| %>
  <div>
  Name:
  <%= f.text_field :name %>
  </div>

  <div>
  Password: 
  <%= f.password_field :password %>
  </div>

  <div>
  <%= f.submit "Sign In" %>
  </div>

<% end %>