<%= form_tag ({controller: 'users', action: 'create', method: 'post'}) do %>
  <label>Name</label>
  <input name=name>

  <label>Password</label>
  <input name=password>

  <input type=submit value='login'>
<% end %>
