<h1>Sign up</h1>

<form action="/users" method="POST">
	<p>Name: <input type="text" name="user[name]"></p>
	<p>Password: <input type="text" name="user[password]"></p>
	<p>Confirm password: <input type="text" name="user[password_confirmation]"></p>

	<input type="submit" value="Sign up">
</form>
