<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>Hi, <%= current_user.name %> </h1>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
