<h1>Sign Up</h1>
<form method="POST">
  <p>Name: <input name="name"></p>
  <p>Password: <input name="password"></p>
  <p>Password Confirmation: <input name="password_confirmation"></p>
  <input type="submit" value="signup">
</form>